{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8" style="margin-top: 3.1rem!important;">
				<div class="content-section">
					{% if user.is_superuser %}
					<form method="POST" action="" enctype="multipart/form-data">
						{% csrf_token %}
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">{{ title }}</legend>
							{{ form|crispy }}
						</fieldset>
						<div class="form-group">
							<button class="btn btn-outline-dark" type="submit">{{ submit }}</button>
						</div>
					</form>
					{% else %}
					<h2>You are not allowed to do anything. Go back.</h2>
					<div class="border-top pt-3">
						<small class="text-muted">
						<a href="{% url 'blog-home' %}" class="btn btn-outline-secondary">Back to home</a>
						</small>
					</div>
					{% endif %}
				</div>
			</div>
			{% include 'blog/sidebar.html' %}
		</div>
	</div>
{% endblock %}