{% load static %}
<!-- JavaScript files-->
<script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'blog/vendor/popper.js/umd/popper.min.js' %}"> </script>
<script src="{% static 'blog/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
<script src="{% static 'blog/vendor/@fancyapps/fancybox/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'blog/js/front.js' %}"></script>
<!-- <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> -->
<script src='{% static "blog/js/highlight.pack.js" %}'></script>
<script>hljs.initHighlightingOnLoad();</script>