{% load static %}
<aside class="col-lg-4">
	<!-- Widget [Search Bar Widget]-->
	<div class="widget search">
		<header>
			<h3 class="h6">검색</h3>
		</header>
		<form action="{% url 'search' %}" class="search-form">
			<div class="form-group">
				<input type="text" name="q" placeholder="찾고싶은 글의 제목을 입력해주세요!" value="{{ request.GET.q }}">
				<button type="submit" class="submit"><i class="icon-search"></i></button>
			</div>
		</form>
	</div>
	<!-- Widget [Latest Posts Widget]        -->
	<div class="widget latest-posts">
		<header>
			<h3 class="h6">최근 게시글</h3>
		</header>
		<div class="blog-posts">
			{% if most_recent %}
				{% for post in most_recent %}
					<a href="{{ post.get_absolute_url }}">
						<div class="item d-flex align-items-center">
							<div class="image"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
							<div class="title"><strong class="text-capitalize" style="line-height: 1.3em;">{{ post.title}}</strong>
								<div class="d-flex align-items-center">
									<div class="comments"><i class="icon-comment"></i>{{ post.comments.count }}</div>
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
			{% else %}
				<p>최근 게시글이 없습니다.</p>
			{% endif %}
		</div>
	</div>
	<!-- Widget [Categories Widget]-->
	<div class="widget categories">
		<header>
			<h3 class="h6">Categories</h3>
		</header>
		{% if category_count %}
			{% for cat in category_count %}
				<div class="item d-flex justify-content-between">
					<a href="{% url 'post_by_category' cat.categories__slug %}" class="text-capitalize">
						{{ cat.categories__title }}
					</a>
					<span>{{ cat.categories__title__count }}</span>
				</div>
			{% endfor %}
		{% else %}
			<p>카테고리가 없습니다.</p>
		{% endif %}
	</div>
</aside>
</div>
</div>