{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8" style="margin-top: 3.1rem!important;">
        <div class="content-section">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} mt-3">{{ message }}</div>
            {% endfor %}
          {% endif %}
          <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
              <h2 class="account-heading">{{ user.username }}</h2>
              <p class="text-secondary">{{ user.email }}</p>
            </div>
          </div>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">MYPAGE</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}